* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 40px;
  text-align: center;
  color: dodgerblue;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text,
.btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid dodgerblue;
}

.btn {
  color: #fff;
  background-color: dodgerblue;
  font-weight: 700;
  margin-left: 10px;
  cursor: pointer;
}

.text {
  width: 400px;
  margin: 2rem 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 107, 156);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.edit {
  cursor: pointer;
  text-align: center;
  width: 50px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background-color: rgb(148, 12, 12);
  margin-right: 10px;
}

.delete {
  cursor: pointer;
  text-align: center;
  padding: 5px;
  width: 60px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background-color: rgb(238, 33, 33);
}

.parag {
  font-size: 15px;
  width: 300px;
  color: #fff;
  background-color: inherit;
  padding: 5px;
  border: none;
  outline: none;
  transition: 0.5s;
}

.paragPress {
  color: rgb(219, 178, 218);
}

.boxList {
  display: flex;
}
